@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- ======= Additional Programs ======= -->
<section id="about">
    <div class="container" style="margin-top:150px;">
        <h2 style="text-align: center">Additional <span class="text-danger fw-bold">Programs</span></h2>
        <hr class="hline">
        <div class="row">
            <div class="col-md-12 p-2 fade-in">
                <div class="card">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <div class="image-container" style="border-radius: 20px 0px 0px 20px;">
                                <img class="img-fluid" src="~/img/oimg001.jpg">
                            </div>
                        </div>
                        <div class="col-md-8  p-5">
                            <div class="card-header bg-white" style="border:none">
                                <h2 class="fw-bold">Summer Camp</h2>
                            </div>
                            <div class="card-body p-3">
                                <p>Ignite your child's summer with Martial Arts! Unleash their inner champion through energizing workouts, new friendships, and boundless fun!</p>
                                <ul>
                                    <li style="list-style: none; font-size:18px;padding-bottom:5px;"><i class="fa-solid fa-check" style="color:green; padding-right:10px"></i> Day Trips: Laser Quest, Zoo, Science Centre</li>
                                    <li style="list-style: none; font-size:18px;padding-bottom:5px;">
                                        <i class="fa-solid fa-check" style="color:green; padding-right:10px"></i> Discipline, Respect & Focus
                                    </li>
                                    <li style="list-style: none; font-size:18px;padding-bottom:5px;"><i class="fa-solid fa-check" style="color:green; padding-right:10px"></i> Self Defence & Street Safety</li>
                                </ul>
                                <div class="card-footer bg-white" style="border:none;">
                                    <span itemprop="telephone">
                                        <a class="cta-btn btn btn-danger rounded-pill btn-lg" href="tel:(416) 366-6661">Call Now</a>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-12 p-2 fade-in">
                <div class="card">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <div class="image-container" style="border-radius:20px 0px 0px 20px;">
                                <img class="img-fluid" style="height:500px;" src="~/img/birthday.jpg">
                            </div>
                        </div>
                        <div class="col-md-8 p-5">
                            <div class="card-header bg-white" style="border:none">
                                <h2 class="fw-bold">Birthday Parties</h2>
                            </div>
                            <div class="card-body" style="border:none;">
                                <p style="font-size:20px;">Book Your Birthday Party Here</p>
                                <p style="font-size:20px;">Food, Games, & Entertainment</p>
                                <p><i>Package Includes:</i></p>
                                <ul>
                                    <li style="list-style: none; font-size:18px;padding-bottom:5px;"><i class="fa-solid fa-check" style="color:green; padding-right:10px"></i> A 1-2 hour long fast-paced and well-organized party</li>
                                    <li style="list-style: none; font-size:18px;padding-bottom:5px;">
                                        <i class="fa-solid fa-check" style="color:green; padding-right:10px"></i> All Clean up included afterwards
                                    </li>
                                    <li style="list-style: none; font-size:18px;padding-bottom:5px;"><i class="fa-solid fa-check" style="color:green; padding-right:10px"></i> A Free Martial Arts Lesson</li>
                                    <li style="list-style: none; font-size:18px;padding-bottom:5px;"><i class="fa-solid fa-check" style="color:green; padding-right:10px"></i>Birthday person gets to cut their cake with a Martial Arts sword</li>
                                </ul>
                                <div class="card-footer bg-white" style="border:none;">
                                    <span itemprop="telephone">
                                        <a class="cta-btn btn btn-danger rounded-pill btn-lg" href="tel:(416) 366-6661">Call Now</a>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>