@{
    ViewData["Title"] = "Home Page";
}
<!-- ======= Hero Section ======= -->
<section id="about" style="margin-top: 150px;" class="">
    <div class="container">
        <div class="row my-3 align-items-center">
            <div class="col-lg-6 col-md-12">
                <div class="about-text">
                    <h1 class="title fw-bolder text-dark">MARTIAL ARTS</h1>
                    <h2 class="py-2 pl-0 para text-white">Empower your child to succeed</h2>
                    <p class="pl-0 para2">
                        Unlock your child's limitless potential! Give them the gift
                        of martial arts at Scarborough's top school. Join now
                        for an unbeatable experience in fitness, friendship, and fun!
                    </p>
                    <a class="btn btn-dark btn-lg">Register Now!</a>
                </div>
            </div>
            <div class="col-lg-6 d-flex align-items-center justify-content-center">
                <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item custom active">
                            <img src="~/img/personal.jpg" class="img-fluid custom-img w-auto" alt="...">
                        </div>
                        <div class="carousel-item custom">
                            <img src="~/img/hero.jpg" class="img-fluid custom-img w-auto" alt="...">
                        </div>
                        <div class="carousel-item custom">
                            <img src="~/img/hero.jpg" class="img-fluid custom-img w-auto" alt="...">
                        </div>
                    </div>
                    <button class="carousel-control-prev custom-arrow" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon custom-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next custom-arrow" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                        <span class="carousel-control-next-icon custom-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- ======= About us ======= -->
<section id="about">
    <br>
    <div class="container">
        <div class="row my-3">
            <div class="col-lg-7 col-md-12">
                <div class="about-text">
                    <h2 class="py-2 pl-0">Welcome To <span class="text-danger fw-bold">Olympian Martial Arts</span></h2>
                    <p class="pl-0">Olympian Martial Arts Studio has proudly served the Scarborough community for 20 years. Located in the heart of Scarborough, we offer award-winning martial arts, kickboxing, specialized women's classes, and wellness programs. As a trusted member of World Taekwondo, Taekwondo Canada, and Taekwondo Ontario, our programs help children and adults gain self-confidence, motivation, and concentration skills. We foster respect for oneself, others, and the environment, promoting physical well-being and a safe, drug-free lifestyle. Join us at Olympian Martial Arts Studio and be part of a stronger community. Voted #1 school in Scarborough for 12 consecutive years, we are committed to your goals.</p>
                    <p class="fw-bold">We teach a diverse range of martial arts skills:</p>
                    <div class="row gy-2 gx-2">
                        <div class="col-md-6 col-sm-6">
                            <div class="card p-1 m-0" style="border-radius: 20px">
                                <div class="d-flex align-items-center">
                                    <div class="col-md-2 icon-box mb-20 ml-3" style="margin-left: 10px;">
                                        <img src="~/img/judo.png" width="50px">
                                    </div>
                                    <div class="col-md-10" style="padding-left: 10px;">
                                        <h5 class="text-danger mb-2">Taekwondo</h5>
                                        <p>Art of Kicking & Punching</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="card p-1 m-0" style="border-radius: 20px">
                                <div class="d-flex align-items-center">
                                    <div class="col-md-2 icon-box mb-20" style="margin-left: 10px;">
                                        <img src="~/img/defense.png" width="50px">
                                    </div>
                                    <div class="col-md-10" style="padding-left: 10px;">
                                        <h5 class="text-danger  mb-2">Self Defense</h5>
                                        <p>Use of force to protect yourself</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="card p-1 m-0" style="border-radius: 20px">
                                <div class="d-flex align-items-center">
                                    <div class="col-md-2 icon-box mb-20" style="margin-left: 10px;">
                                        <img src="~/img/safety.png" width="50px">
                                    </div>
                                    <div class="col-md-10" style="padding-left: 10px;">
                                        <h5 class="text-danger mb-2">Street Safety</h5>
                                        <p> Street Safety helps you stay safe</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="card p-1 m-0" style="border-radius: 20px">
                                <div class="d-flex align-items-center">
                                    <div class="col-md-2 icon-box mb-20" style="margin-left: 10px;">
                                        <img src="~/img/kickboxing.png" width="45px">
                                    </div>
                                    <div class="col-md-10" style="padding-left: 10px;">
                                        <h5 class="text-danger mb-2">Kickboxing</h5>
                                        <p>Sport based on Kicking</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 col-md-12 col-12">
                <div class="about-img text-center">
                    <img src="~/img/wimg001.jpg" alt="" class="img-fluid" style="border-radius: 20px">
                </div>
            </div>
        </div>

    </div>
    <br>
</section>

<!-- ======= Mission Statement ======= -->

<div class="container-fluid" style="background-color: #E80040">
    <div class="container p-2">
        <div class="col-md-12 py-3 text-white">
            <h5 class="fw-bold text-center">Our Mission Statement</h5>
            <p class="text-center">
                We believe that every person has special talents. Talents that can be unfold or
                enriched through
                physical and mental training.<br> We encourage our students (children and adults) to learn the
                skills that will empower them to believe in themselves. We provide a safe,<br> rewarding and team
                building environment that meets the needs of our clients.
            </p>

        </div>
    </div>
</div>


<!-- ======= Join Now ======= -->
<section id="expertise">
    <br>
    <div class="container">
        <div class="row my-3">
            <div class="col-lg-5 col-md-12 col-12">
                <div class="about-img text-center">
                    <div class="row">
                        <div class="col-6 col-md-6">
                            <img src="~/img/aimg006.jpg" alt="" class="img-fluid mb-3" style="border-radius: 20px;">
                        </div>
                        <div class="col-6 col-md-6">
                            <img src="~/img/timg003.jpg" alt="" class="img-fluid mb-3" style="border-radius: 20px;">
                        </div>
                        <div class="col-6 col-md-6">
                            <img src="~/img/timg010.jpg" alt="" class="img-fluid mb-3" style="border-radius: 20px;">
                        </div>
                        <div class="col-6 col-md-6">
                            <img src="~/img/personal.jpg" alt="" class="img-fluid mb-3" style="border-radius: 20px;">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-7 col-md-12 p-4 mr-4">
                <div class="about-text">
                    <h1 class="py-2" style="color:#000"><b>Join Scarborough's <span class="text-primary fw-bolder">#1 Martial Arts</span> school and become part of a skilled community!</b></h1>
                    <h5 class="fw-normal mr-4" style="color:#3d3d3d;">At Olympian Martial Arts, we transform lives through comprehensive training programs that focus on physical strength, skills, confidence, self-discipline, and self-control. By joining our academy, you become part of a supportive community that actively participates in events and tournaments, fostering friendship and belonging. We believe that being a martial artist is about making a positive impact beyond the mat. Our mission is to empower individuals to become better versions of themselves, both as martial artists and individuals in their daily lives. Join us today and unlock your full potential!</h5><br>
                </div>

                <div class="row gy-2 gx-2">
                    <div class="col-md-6">
                        <div class="card p-1 m-0" style="border-radius: 20px">
                            <div class="d-flex align-items-center">
                                <div class="col-2 icon-box" style="margin-left: 20px;">
                                    <i class="fa-regular fa-face-smile-beam text-danger" style="font-size:35px"></i>
                                </div>
                                <div class="col-10" style="padding-left: 10px;">
                                    <h2 class="text-body">950+ </h2>
                                    <h5 class="text-secondary fw-light">Happy Students </h5>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card p-1 m-0" style="border-radius: 20px">
                            <div class="d-flex align-items-center">
                                <div class="col-2 icon-box" style="margin-left: 20px;">
                                    <i class="fa-solid fa-medal text-danger" style="font-size:35px"></i>
                                </div>
                                <div class="col-10" style="padding-left: 10px;">
                                    <h2 class="text-body">650+ </h2>
                                    <h5 class="text-secondary fw-light">Awards Won </h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
</section>

<!-- Expertise Ends-->

<br>

<!-- ======= Programs ======= -->

<section id="programs">
    <div class="container fade-in">
        <h2 class="text-center">Our <span class="text-danger fw-bold">Programs</span></h2>
        <hr class="hline">
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-4 p-2">
                <div class="blog-card card">
                    <div class="card-img-top" style="height: 350px; overflow: hidden;">
                        <img class="img-fluid" src="~/img/regular.jpg" alt="Blog 1"
                             style="object-fit: cover; width: 100%;">
                    </div>
                    <div class="card-body text-center">
                        <i class="fi fi-sr-uniform-martial-arts text-center text-danger" style="font-size: 40px;"></i>
                        <h6 class="card-subtitle mb-2 text-theme-colored"
                            style="margin-top:10px; font-size:30px;padding-left:10px;">
                            <b>MARTIAL ARTS</b>
                        </h6>
                        <p class="card-text" style="padding-left:10px; margin: 20px 25px;">


                            Explore a variety of martial arts disciplines to tailor your and your child's training, ensuring a perfect match for your unique goals and interests.
                        </p>
                        <a href="#"
                           class="btn btn-danger" style="margin-left:10px;">
                            Learn More <i class="fa-solid fa-arrow-right"></i>
                        </a>
                    </div>
                    <hr class="text-danger text-center" style="border: 4px solid; margin: 10px 50px; opacity:1; border-radius:20px;">
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4 p-2">
                <div class="blog-card card">
                    <div class="card-img-top" style="height: 350px; overflow: hidden;">
                        <img class="img-fluid" src="~/img/oimg001.jpg" alt="Blog 2"
                             style="object-fit: cover; width: 100%;">
                    </div>
                    <div class="card-body text-center">
                        <i class="fa-solid fa-sun text-center text-danger" style="font-size: 40px;margin-bottom: 14px;
    margin-top: 5px;
"></i>
                        <h6 class="card-subtitle mb-2 text-theme-colored"
                            style="margin-top:10px; font-size:30px;padding-left:10px;">
                            <b>SUMMER CAMP</b>
                        </h6>
                        <p class="card-text" style=" padding-left:10px; margin: 20px;">Ignite your child's summer with Martial Arts! Unleash their inner champion through energizing workouts, new friendships, and boundless fun!</p>
                        <a href="#"
                           class="btn btn-danger" style="margin-left:10px;">
                            Learn More <i class="fa-solid fa-arrow-right"></i>
                        </a>
                    </div>
                    <hr class="text-danger text-center" style="border: 4px solid; margin: 10px 50px; opacity:1; border-radius:20px;">
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4 p-2">
                <div class="blog-card card">
                    <div class="card-img-top" style="height: 350px; overflow: hidden;">
                        <img class="img-fluid" src="~/img/birthday.jpg" alt="Blog 4"
                             style="object-fit: cover; width: 100%;">
                    </div>
                    <div class="card-body text-center">
                        <i class="fa-solid fa-cake-candles text-center text-danger" style="font-size: 40px; margin-top: 4px;
    margin-bottom: 15px;"></i>
                        <h6 class="card-subtitle mb-2 text-theme-colored"
                            style="margin-top:10px; font-size:30px;padding-left:10px">
                            <b>BIRTHDAY PARTIES</b>
                        </h6>
                        <p class="card-text" style=" padding-left:10px; margin: 20px;">Book your birthday party here and experience a celebration like no other. Food, Games, & Entertainment and boundless fun for everyone!</p>
                        <a href="#"
                           style="margin-left:10px;" class="btn btn-danger">
                            Learn More <i class="fa-solid fa-arrow-right"></i>
                        </a>

                    </div>
                    <hr class="text-danger text-center" style="border: 4px solid; margin: 10px 50px; opacity:1; border-radius:20px;">
                </div>
            </div>
        </div>
    </div><br><br>
</section>


<!-- ======= Why Us Section ======= -->
<section id="why-us" class="why-us section-bg">
    <div class="container" data-aos="fade-up">

        <div class="row gy-4">

            <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">
                <div class="why-box">
                    <h3>Why Choose <i>Olympian Martial Arts?</i></h3>

                </div>
            </div><!-- End Why Box -->

            <div class="col-lg-8 d-flex align-items-center">
                <div class="row gy-4">

                    <div class="col-xl-4" data-aos="fade-up" data-aos-delay="200">
                        <div class="icon-box d-flex flex-column justify-content-center align-items-center">
                            <i class="fa-solid fa-chart-line"></i>
                            <h4><b>Experience:<br> 20 Years</b></h4>
                            <p>
                                Since 2004,
                                OMAS has
                                ignited lives
                                through
                                martial arts
                                excellence.
                            </p>
                        </div>
                    </div><!-- End Icon Box -->

                    <div class="col-xl-4" data-aos="fade-up" data-aos-delay="300">
                        <div class="icon-box d-flex flex-column justify-content-center align-items-center">
                            <i class="fa-regular fa-gem"></i>
                            <h4><b>Master-Level Head Instructors</b></h4>
                            <p>
                                Champion
                                instructors,
                                hand-picked
                                & devoted,
                                shaping your
                                child's success.
                            </p>
                        </div>
                    </div><!-- End Icon Box -->

                    <div class="col-xl-4" data-aos="fade-up" data-aos-delay="400">
                        <div class="icon-box d-flex flex-column justify-content-center align-items-center">
                            <i class="fa-regular fa-face-smile"></i>
                            <h4><b>Positive<br> Environment</b></h4>
                            <p>
                                Step into a
                                world of
                                Encouragement &
                                Inclusivity, igniting
                                Martial Arts Joy!
                            </p>
                        </div>
                    </div><!-- End Icon Box -->

                </div>
            </div>

        </div>

    </div>
</section><!-- End Why Us Section -->
<a href="#" class="scroll-top d-flex align-items-center justify-content-center active">
    <i class="fa-solid fa-arrow-up"></i>
</a>
<!-- ======= Call To Action Section ======= -->
<section id="call-to-action" class="call-to-action">
    <div class="container" data-aos="zoom-out">

        <div class="row justify-content-center">
            <div class="col-lg-8 text-center">
                <h3>MARTIAL ARTS CLASSES: THE BEST DECISION YOU WILL MAKE FOR YOU AND YOUR CHILD!</h3>
                <p>
                    Enroll you or your child in martial arts classes now and discover the amazing benefits you will
                    experience in all aspects of your lives!
                </p>
                <a class="cta-btn  btn btn-danger rounded-pill" href="#">Contact Us Now!</a>
            </div>
        </div>

    </div><br><br>
</section><!-- End Call To Action Section -->
<!-- ======= Testimonials ======= -->
<section id="testimonials">
    <div class="container col-lg-12">
        <h2 style="text-align: center; padding-top: 30px;">Testimonials <span class="text-danger fw-bold pb-2"></span></h2>
        <hr class="hline">
        <div class="row gy-2 gx-2">
            <div class="col-lg-3">
                <div class="card" style="padding:20px;">
                    <h5><span class="text-danger fs-4">"</span>Taekwondo has made a positive difference in his personality from a very young age and we owe a lot to OMA for grooming him.<span class="text-danger fs-4">"</span></h5>
                </div>
            </div>
             <div class="col-lg-3">
                <div class="card">
                    <h5><span class="text-danger fs-4">"</span>The manager and teachers are great with kids. I tried to look for schools closer to us, but I couldn't find any school with the same level of dedication. They take time to help the kids learn Taekwondo. It's not just an activity to them, it's real martial arts and it's amazing how well the students learn. My kids started when they were barely 4 and now my eldest son is 10.<span class="text-danger fs-4">"</span></h5>
                </div>
            </div>
             <div class="col-lg-3">
                <div class="card">
                    <h5><span class="text-danger fs-4">"</span>The instructors are really great and knows each student's strength and weakness. Feel like family when you go there. Definitely recommend!<span class="text-danger fs-4">"</span></h5>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="card">
                    <h5><span class="text-danger fs-4">"</span>My son went here about 7 years ago. Janice THE Owner is amazing. Very kind lady who took the time our of her busy schedule to not only teach classes but also offer free lessons to some at risk youth in the RGV building.<span class="text-danger fs-4">"</span></h5>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="card">
                    <h5><span class="text-danger fs-4">"</span>Taekwondo has made a positive difference in his personality from a very young age and we owe a lot to OMA for grooming him.<span class="text-danger fs-4">"</span></h5>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="card">
                    <h5><span class="text-danger fs-4">"</span>Taekwondo has made a positive difference in his personality from a very young age and we owe a lot to OMA for grooming him.<span class="text-danger fs-4">"</span></h5>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="card">
                    <h5><span class="text-danger fs-4">"</span>Taekwondo has made a positive difference in his personality from a very young age and we owe a lot to OMA for grooming him.<span class="text-danger fs-4">"</span></h5>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="card">
                    <h5><span class="text-danger fs-4">"</span>Taekwondo has made a positive difference in his personality from a very young age and we owe a lot to OMA for grooming him.<span class="text-danger fs-4">"</span></h5>
                    <div class="col-md-12">
                        <div class="row">
                    <div class="col-md-1">
                                <i class="fi fi-sr-star text-danger"></i>
                        </div>
                            <div class="col-md-1">
                                <i class="fi fi-sr-star text-danger"></i>
                            </div>
                            <div class="col-md-1">
                        <i class="fi fi-sr-star text-danger"></i>
                        </div>
                        <div class="col-md-1">
                                <i class="fi fi-sr-star text-danger"></i>
                        </div>
                            <div class="col-md-1">
                                <i class="fi fi-sr-star text-danger"></i>
                            </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
</section>


<!-- ======= Featured Gallery ======= -->
<section id="featured">
    <div style="background-color: #f6f6f6;">
        <h2 style="text-align: center; padding-top: 30px;">Featured <span class="text-danger fw-bold pb-2">Photos</span></h2>
        <hr class="hline">
        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="row">
                        <div class="col-md-4">
                            <img src="~/img/aimg001.jpg" class="d-block w-100 equal-size-img img-fluid shadow rounded mb-4" alt="...">
                        </div>
                        <div class="col-md-4 d-none d-md-block">
                            <img src="~/img/aimg002.jpg" class="d-block w-100 equal-size-img img-fluid shadow rounded mb-4" alt="...">
                        </div>
                        <div class="col-md-4 d-none d-md-block">
                            <img src="~/img/aimg003.jpg" class="d-block w-100 equal-size-img img-fluid shadow rounded mb-4" alt="...">
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="row">
                        <div class="col-md-4">
                            <img src="~/img/aimg004.jpg" class="d-block w-100 equal-size-img img-fluid shadow rounded mb-4" alt="...">
                        </div>
                        <div class="col-md-4 d-none d-md-block">
                            <img src="~/img/aimg005.jpg" class="d-block w-100 equal-size-img img-fluid shadow rounded mb-4" alt="...">
                        </div>
                        <div class="col-md-4 d-none d-md-block">
                            <img src="~/img/aimg006.jpg" class="d-block w-100 equal-size-img img-fluid shadow rounded mb-4" alt="...">
                        </div>
                    </div>
                </div>
            </div>

            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev" style="top: 50%; transform: translateY(-50%);">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next" style="top: 50%; transform: translateY(-50%);">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>

        <div class="text-center">
            <a class="cta-btn btn btn-outline-danger rounded-pill m-4" href="Gallery.html">View More</a>
        </div>
    </div>
</section>

<!-- ======= News & Blogs ======= -->

<br>
<section id="news">
    <div class="container">
        <h2 style="text-align:center">News & <span class="text-danger fw-bold">Blogs</span></h2>
        <hr class="hline">
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-4 p-2">
                <div class="blog-card card">
                    <div class="card-img-top" style="height: 250px; overflow: hidden;">
                        <img class="img-fluid" src="~/img/blog1.jpg" alt="Blog 1"
                             style="object-fit: cover; width: 100%;">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">
                            <span style="color:#dc3545; font-weight: bold; font-size:17px;padding-left:10px;">
                                WORLD
                                TAEKWONDO
                            </span>
                        </h5>
                        <h6 class="card-subtitle mb-2 text-theme-colored"
                            style="margin-top:10px; font-size:20px;padding-left:10px;">
                            <b>
                                Why Are Martial Arts
                                Important?-THE CHILD & TAEKWONDO
                            </b>
                        </h6>
                        <p class="card-text" style=" padding-left:10px">
                            Taekwondo is a total learning activity.
                            Lessons are tailored to your child's age and skill level. Your child begins by
                            practicing basic patterns and forms...
                        </p>
                        <a href="https://www.worldtaekwondo.com/benefits.htm#:~:text=Taekwondo%20develops%20your%20child's%20athletic,child's%20capabilities%20in%20self%2Ddefense.&text=Taekwondo%20emphasizes%20moral%20development%20as,%2Ddiscipline%20and%20self%2Drestraint."
                           target="_blank" class="btn btn-danger" style="margin-left:10px;">
                            Read More <i class="fa-solid fa-arrow-right"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4 p-2">
                <div class="blog-card card">
                    <div class="card-img-top" style="height: 250px; overflow: hidden;">
                        <img class="img-fluid" src="~/img/blog2.jpg" alt="Blog 2"
                             style="object-fit: cover; width: 100%;">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">
                            <span style="color:#dc3545; font-weight: bold; font-size:17px;padding-left:10px;">WINSPERS</span>
                        </h5>
                        <h6 class="card-subtitle mb-2 text-theme-colored"
                            style="margin-top:10px; font-size:20px;padding-left:10px;">
                            <b>
                                SELF DEFENCE FOR YOUR
                                CHILD – WHAT TO DO AS A PARENT
                            </b>
                        </h6>
                        <p class="card-text" style=" padding-left:10px">
                            Most parents bring their child to
                            martial arts for self defence – and with good reason; bullying in many forms,
                            cyberbullying, verbal bullying and physical...
                        </p>
                        <a href="https://winspers.mymawebsite.com/self-defence-child/" target="_blank"
                           class="btn btn-danger" style="margin-left:10px;">
                            Read More <i class="fa-solid fa-arrow-right"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4 p-2">
                <div class="blog-card card">
                    <div class="card-img-top" style="height: 250px; overflow: hidden;">
                        <img class="img-fluid" src="~/img/blog4.jpg" alt="Blog 4"
                             style="object-fit: cover; width: 100%;">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">
                            <span style="color:#dc3545; font-weight: bold; font-size:17px; padding-left:10px">FEMINA</span>
                        </h5>
                        <h6 class="card-subtitle mb-2 text-theme-colored"
                            style="margin-top:10px; font-size:20px;padding-left:10px">
                            <b>
                                Benefits Of Martial
                                Arts That Can Be Applied To Daily Life
                            </b>
                        </h6>
                        <p class="card-text" style=" padding-left:10px">
                            If there is a field that comprises
                            ethics, aesthetics, action theory, the philosophy of sport, cognitive science, and
                            philosophy, it is martial arts...
                        </p>
                        <a href="https://www.femina.in/wellness/fitness/benefits-of-martial-arts-that-can-be-applied-to-daily-life-201534.html"
                           target="_blank" style="margin-left:10px;" class="btn btn-danger">
                            Read More <i class="fa-solid fa-arrow-right"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div><br>
</section>

